@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

$container-width: 300px;
$game-padding: 15px;

$primary-color: #ffd369;
$secondary-color: #393e46;

$game-pad-background: #fff;
$game-pad-border: #534e52;
$game-pad-color: #222831;
$game-pad-background-x: #ffd369;
$game-pad-background-o: #ee6f57;

// ===================================
// Setup the main buttons for the view
$button-bg-color: #eeeeee;
$button-fg-color: #393e46;
$button-br-stroke: 0.065rem;
$button-bd-rounding: 0.225rem;
// ===================================

* {
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 12px;
}

.container {
  width: $container-width;
  margin: 100px auto auto;
}

.game {
  margin: 20px 0;

  table {
    width: $container-width;
    height: $container-width;

    border: 1px solid $game-pad-border;
    border-radius: 0.25rem;
    border-spacing: 0;

    background: $game-pad-background;
    table-layout: fixed;

    tr {
      table-layout: fixed;

      td {
        position: relative;

        border: 1px solid $game-pad-border;
        vertical-align: top;
        padding: 0.5px 1px;
        margin: 0;
      }

      button {
        display: block;
        position: absolute;

        width: calc(100% - 2px);
        height: calc(100% - 2px);

        border: none;
        border-radius: 0;
        margin: 0;
        padding: 0;

        font-size: 5rem;
        overflow: hidden;
        line-height:0;

        color: $game-pad-color;
        background-color: $game-pad-background;
      }

      .occupied-by-1 {
        font-size: 0;

        background: url(../assets/cross.svg);
        background-size: cover;
      }

      .occupied-by-2 {
        font-size: 0;

        background: url(../assets/circle.svg);
        background-size: cover;
      }
    }
  }
}

.footer {
  button {
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;

    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:hover, &:focus {
      background-color: darken($button-bg-color, 2.5%);
    }

    &:focus {
      outline: darken($button-bg-color, 20%) solid #{$button-br-stroke * 1.5};
    }

    &.primary {
      color: #000;
      background-color: $primary-color;
      border-color: $primary-color;
    }

    &.secondary {
      color: #fff;
      background-color: $secondary-color;
      border-color: $secondary-color;
    }

    &.sm {
      padding: .25rem .5rem;
      font-size: .875rem;
      border-radius: .2rem;
    }
  }
}
