@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

$container-width: 300px;
$game-padding: 15px;

$game-pad-background: #eeeeee;
$game-pad-border: #393e46;
$game-pad-color: #222831;
$game-pad-background-x: #ffd369;
$game-pad-background-o: #ee6f57;

* {
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 12px;
}

.container {
  width: $container-width;
  margin: 100px auto auto;
}

.game {
  //padding: $game-padding;
  margin: 20px 0;

  table {
    width: calc(300px - 30px);
    height: calc(300px - 30px);

    border: 2px solid $game-pad-border;
    border-radius: 0.25rem;
    border-spacing: 0;

    background: $game-pad-background;
    table-layout: fixed;

    tr {
      table-layout: fixed;

      td {
        position: relative;

        border: 1px solid $game-pad-border;
        vertical-align: top;
        padding: 0.5px 1px;
        margin: 0;
      }

      button {
        display: block;
        position: absolute;

        width: calc(100% - 2px);
        height: calc(100% - 2px);

        border: none;
        border-radius: 0;
        margin: 0;
        padding: 0;

        font-size: 5rem;
        overflow: hidden;
        line-height:0;

        color: $game-pad-color;
      }

      .occupiedByX {
        font-size: 0;

        background: url(../assets/cross.svg);
        background-size: cover;
      }

      .occupiedByO {
        font-size: 0;

        background: url(../assets/circle.svg);
        background-size: cover;
      }
    }
  }
}

.footer {
  button {
    padding: 8px 15px;
    border: 1px solid $game-pad-border;
    background-color: $game-pad-background;
    border-radius: 5px;
  }
}
